/* CiviCRM Dashboard Styling */

/* Force single-column dashboard layout */
#civicrm-dashboard > .crm-flex-box {
  grid-template-columns: 1fr;
  gap:var(--crm-l-large-1);
}

/* Make container draggable if empty */
#civicrm-dashboard .crm-flex-box > * {
  min-height: inherit;
}

/* Show "Drag dashlets here" text */
#civicrm-dashboard .crm-flex-box > .crm-flex-2,
#civicrm-dashboard .crm-flex-box > .crm-flex-3 {
  position: relative; /* establish positioning context */
}

/* Style the draggable containers */
#civicrm-dashboard .crm-flex-box > .crm-flex-2::before,
#civicrm-dashboard .crm-flex-box > .crm-flex-3::before {
  content: "Drag dashlets here";
  padding:var(--crm-l-medium);
  font-size: var(--crm-r);
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--crm-dashlet-bg-color);
  border: 2px dashed var(--crm-c-gray-400);
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  pointer-events: none; /* allow drag/drop */
  min-height: 100%; /* fill container vertically */
}

/* Hide the pseudo-element if the container actually has dashlets inside */
#civicrm-dashboard .crm-flex-box > :is(.crm-flex-2, .crm-flex-3):has(.crm-dashlet)::before,
#civicrm-dashboard .crm-flex-box.crm-search-display-pager :is(.crm-flex-2, .crm-flex-3)::before {
  content: none;
}

 #civicrm-dashboard {
  margin-bottom: var(--crm-l-large); /* gap above footer */ 
 }